<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../plugins/sweetalert/dist/sweetalert2.min.css">
        <title>Health Track</title>
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar id="sidebar">
                <div class="sidebar-title">
                    <img
                        src="../img/Health_and_Fitness_-_Flat_-_003_-_Heart_Rate-512.png"
                        alt="">
                    <h2>Health Track</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="fas fa-home"></i>
                            <a href="dashboard.html"> Dashboard</a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="perfil.html"> Perfil</a>
                        </li>
                        <li class="selected">
                            <i class="fas fa-weight-hanging"></i>
                            <a href="gerenciarPeso.html"> Gerenciar Peso e Altura</a>
                        </li>
                        <li>
                            <i class="fas fa-heartbeat"></i>
                            <a href="gerenciarPressao.html"> Gerenciar pressão arterial</a>
                        </li>
                        <li>
                            <i class="fas fa-skating"></i>
                            <a href="gerenciarAtividades.html"> Gerenciar atividades físicas</a>
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>
                            <a href="gerenciarAlimentos.html"> Gerenciar alimentos</a>
                        </li>
                        <li>
                            <i class="fas fa-calculator"></i>
                            <a href="calcularIMC.html"> Calcular IMC</a>
                        </li>
                        <li class="sidebar_logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <a href="../index.html"> Log Out</a>
                        </li>
                    </ul>
                </div>
            </sidebar>
            <main id="mainContent">
                <header>
                    <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                    <a href="../index.html"> <i class="fas fa-sign-out-alt"></i>
                        Logout</a>
                </header>
                <div class="main-content">
                    <div class="main-content-title">
                        <h2>Gerenciar Peso e Altura</h2>
                    </div>
                    <div class="panel-row">
                        <button class="panel panel-50" a-view="cadastrarPeso" a-script="Peso" onclick="fetchContent(this)" a-folder="peso">
                            <i class="fas fa-plus"></i>
                            Cadastrar Peso e Altura
                        </button>
                        <button class="panel panel-50" a-view="vizualizarPeso" a-script="Peso" onclick="fetchContent(this)" a-folder="peso">
                            <i class="fas fa-table"></i>
                            Visualizar Peso e Altura
                        </button>
                    </div>
                    <div class="content" id="ajax-content"></div>
                </div>
            </main>
        </div>
        <script src="../plugins/jquery/jquery.min.js"></script>
        <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
        <script src="../plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
        <script src="../plugins/sweetalert/dist/sweetalert2.all.min.js"></script>
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
        <script src="../js/ajax.js"></script>
        <script src="../js/menu.js"></script>
    </body>
</html>
